@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    
}

html, body {
    margin: 0;
    padding: 0;
    position: relative;
}

h1, h2, h3 {
    display: inline;
}

#top-container {
    height: 90vh;
    width: 80%;
    max-width: 100%;
    background-color: #64B6AC;
    padding: 5vh 10%;
    
}

.logo-component {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 35px;
    display: inline;
    color: #F1F1F6;
    -webkit-animation: slideIn 2s forwards;
    -moz-animation: slideIn 2s forwards;
    animation: slideIn 2s forwards;
}

.bold {
    font-weight: 700;
}

.home-visual {
    /*position: absolute;
    top: 25vh;
    right: 10vw;*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.polygon {
    z-index: 2;
}
.rectangle {
    z-index: 1;
}

.regular-text {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #F1F1F6;
    letter-spacing: 1px;
}
.marg-top-24vh{
    margin-top: 24vh
}

#home-logo path:nth-child(1) {

}
#home-logo path:nth-child(2) {

}
#home-logo path:nth-child(3) {

}
#home-logo path:nth-child(4) {

}
#home-logo path:nth-child(5) {

}
#home-logo path:nth-child(6) {

}
#home-logo path:nth-child(7) {

}
#home-logo path:nth-child(8) {

}
#home-logo path:nth-child(9) {

}
#home-logo path:nth-child(10) {

}


.large-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #DDFFA6  ;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.sub-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    color: #F1F1F6;
    display: block;
    letter-spacing: 2px;
}
.resume {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: rgb(214, 214, 214);
    background-color: #57A773;
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    transition: 0.3s;
    /*animation: glowing 2000ms infinite;*/
}

.resume:hover {
    background-color: #409749;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgb(7, 7, 7);
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.resume > p {
    display: inline;
    vertical-align: middle;
    margin-left: 4px;
}

.resume_img {
    vertical-align: middle;
    height: 25px;
    width: 19px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 80%;
    height: 20px;
    background-color: none;
    /*background-color: rgb(18, 18, 44);
    border-bottom: 2px solid rgb(241, 201, 68);*/
    padding: 3vh 10%;
    padding-bottom: 4vh;
}

.navbar-content {
    margin: auto;
}
.navbar-link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #F1F1F6;
    padding-top: 0.5vh;
    float: right;
}

.rmarg-5vw {
    margin-right: 5%;
}

.content {
    height: 100%;
}

.inner-content {
    height: 100%;
    display: flex;
    align-items: center;
}

.home-card{
    border: 2px solid white;
    /* top right bottom left*/
    padding: 10px 40px 40px 40px;
    margin-right: 10%;
}

.card-box {
    border: 2px solid white;
    transition: color 0.25s;
}

/* Section II: My Background */
#background-container {
    height: 80vh;
    width: 70%;
    max-width:100%;
    background-color: #FCFFFD;
    padding: 10vh 15%;
}

.about-card {
    margin-right: 10%;
    width: 80%;
    display:flex;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
    width: 25%;
    color: black;
    margin: auto 0;
    margin-right: 0px;
}
.profile-desc {
    text-align: justify;
    color: black;
    border-left: 2px solid black;
    padding-left: 20px;
}

.width-30vw {
    width: 30vw;
}

.marg-top-7vh {
    margin-top: 7vh;
}

.profile-border-square-1 {
    position: absolute;
    top: 122vh;
    right: 20.75vw;
    z-index: 1;
}

.profile-border-square-2 {
    position: absolute;
    top: 126vh;
    right: 18.75vw;
    z-index: 2;
}


/* Section III: Noteworthy Projects*/
#projects-container {
    height: 80vh;
    width: 70%;
    max-width:100%;
    background-color: #89BED1;
    padding: 10vh 15%;
}

.projects-hr{
    display: inline-block;
    height: 1px;
    border: 0;
    border-top: 2px solid #F1F1F6;
    width: 67%;
    margin: 0.6em 0;
    padding: 0;
}
h3.regular-text {
    display: inline-block;
    margin-bottom: 0px;
}

.marg-top-4vh {
    margin-top: 4vh;
}

.marg-top-10vh{
    margin-top: 10vh;
}

.width-20vw{
    width: 23vw;
}
.project-row {
    clear: both;
}
.project-text-left{
    float: left;
}
.project-text-right {
    text-align: right;
    float: right;
}

.project-rectangle-right {
    float: right;
}

.project-rectangle-left {
    float: left;
}


/* For screens bigger than 1440 x 1024 */

@media screen and (min-width: 1441px) {
    .content {
        width: 1152px;
        max-width: 100%;
        margin: 0px auto;
    }
    .navbar-content {
        width: 1152px;
        margin: auto;
    }
    /*.home-visual {
        position: absolute;
        top: 24vh;
        right: 20vw;
    }*/

    .profile-border-square-1 {
        position: absolute;
        top: 120vh;
        right: 30.75vw;
        z-index: 1;
    }
    
    .profile-border-square-2 {
        position: absolute;
        top: 124vh;
        right: 28.75vw;
        z-index: 2;
    }
    
    .profile-picture {
        position: absolute;
        top: 122vh;
        right: 29.75vw;
        z-index: 3;
    }

    .profile-desc {
        width: 500px;
        text-align: justify;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes glowing {
    0% { background-color: #57A773; box-shadow: 0 0 3px #57A773; }
    50% { background-color: #57b160; box-shadow: 0 0 10px #489950; }
    100% { background-color: #409749; box-shadow: 0 0 3px #409749; }
}